* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: whitesmoke;
}

header h1 {
    text-align: center;
    line-height: 10vh;
    font-size: 2.1rem;
}

main {
    background-color: #001C30;
    height: 90vh;
    padding: 50px 0;
}

main .score-board {
    border: 5px solid black;
    width: 30vw;
    min-height: 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
}

.badge {
    display: inline-block;
    font-size: 1.6rem;
    background-color: rgb(148, 9, 9);
    padding: 5px 10px;
    color: white;
}

.user-score {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: -20px;
}

.comp-score {
    grid-area: 3 / 5 / 4 / 6;
    margin-right: -20px;
}

.score-wrapper {
    grid-area: 2 / 2 / 5 / 5;
    font-size: 5rem;
    text-align: center;
    color: white;
}

.result  {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choice {
    border: 3px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 400ms ease;
}

#rock img {
    margin-top: -15px;
}

.choice:nth-child(1):hover {
    background-color: green;
}
.choice:nth-child(2):hover {
    background-color: red;
}
.choice:nth-child(3):hover {
    background-color: steelblue;
}

.action-message {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.reset {
    padding: 8px 24px;
    border: 0;
    outline: 0;
    font-size: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
